@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.prose a{
  color: #4BBF50;
  text-decoration: underline;
  cursor: pointer;
}

.checkBox{
  display: flex;
  gap: 10px;
  align-items: center;
  height: 20px;  
}

.checkBox > label input[type="checkbox"] {
  cursor: pointer;
}

mark{
  background: #ffc078;
}

.anima-opacity{
  animation: opacity .2s ease forwards;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vh;
  height: 100%;
}

.loadingSpinner {
  border: 4px solid rgba(0, 0, 0, 0.3);
  border-top: 4px solid #ffc078;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes opacity{
  0%{opacity: 0;}
  100%{opacity: 1;}
}


